@media screen and (max-device-width:480px) {


    .list{
  padding-right: 40px;
  margin: 10px;
  font-size: 10px;
  }

  
.flex {
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;.flex {
  
  
   


}
@media screen and (min-width: 660px){
    

    /****