@media screen and (min-width:480px) {


user agent stylesheet
div {
    display: block;
}
body {
    background-color: #333;
    color: #999;
}
body {
    font-family: 'Montserrat', sans-serif;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}

	/*****************************
      TWO COLUMN LAYOUT
    *****************************/


    h2{
    	font-size: 0.825em;
    }

    /*****************************
      PAGE: PORTFOLIO
    *****************************/

    
     #gallery li:nth-child(4n){
    	clear: both;
    }


    /*****************************
      PAGE: ABOUT
    *****************************/
    .profile-photo {
   }
   
.skills_holder .column {
    width: 319px;

        padding-left: -13px

}
@media screen and (min-width: 660px){
    

    
    .progress-details {
    margin: 0 auto;
    }
    

    
   .skills_holder .column {
    width: 380px;
    /* float: left; */
    margin: 0 auto;
    padding: 10px;
}
    

    /*****************************
      HEADER
    *****************************/

  nav{
      background: none;
      font-size: 1.em;

      

  }

  #logo {

  	margin-left: 5%;

  	width: 45 %;

  }

	h1{
		font-size: 2.5em;
	}
	h2{
		font-size: 0.825em;
		margin-bottom: 20px;

	}
	header{
		border-bottom: 5px solid #599a68;
		margin-bottom: 60px;
	}
}
    
    
        @media screen and (min-width: 940px){
            
                #primary{
    	width: 50%;
    	float: left;

    }
            
            .primary{
                width: 40%;
    	float: left;
            }
    #secondary {
    	width: 40%;
    	float:right;
    } 
            
            .myim{
                width: 50%;
                float: right;
                text-align: left;
            }
            .profile-photo{
	display: block;
/*	max-width: 350px;*/
	margin: 0 auto 30px;
	border-top-right-radius: 326px;
    border-top-left-radius: 336px;
}
            
            
            #gallery li {
    float: left;
/*     width: 45%; */
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}
            
            #gallery li {
/*    	width: 28.3333%;*/
                background-color: #f5f5f5;
    }

}