
/**** **********************
         GENERAL
**************************/
body{
	/* font-family: 'open sans' 'sans-serif'; */
	font-family: 'Montserrat', sans-serif;;
}


.mylogo a:after {
 display: block;
 height: 2px;
 background-color: #fff;
 content: "";
 width: 100px;
 margin: 0 auto;
 margin-top: 20px; }

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding:0 5%;
}
#wrapper ul li p{
	color: #999;
	font-size: 11px;
	padding-bottom: 10px;
    text-align: center;

}
a{
	text-decoration: none;
}

img{
	max-width: 100%;
}
h3{
	margin: 0 0 1em 0;
}
p{
	color: #999;
    line-height: 1.5;
}

/*site body*/

/**************************
         HEADING
**************************/


header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}



#logo{
	text-align: center;
	margin: 0;
}

h1{
	font-family: 'changa one', 'sans-serif';
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}
h2{
	font-size: 0.825em;
	margin: -5px 0 0;
	font-weight: normal;
}

/**************************
         NAVIGATION
**************************/

nav{
	text-align: center;
	margin:10px 0;
	padding: 20px 0 0;
	background:#599a68;

}
nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0

}
nav li{
	display: inline-block;
}
nav a {
	font-weight: 800;
	padding: 10px 5px;

}



/**************************
         FOOTER
**************************/
 footer{
 	font-size: 0.75em;
 	text-align: center;
 	clear: both;
 	padding-top: 50px;
 	color: lightgrey;
 }
 .social-icon{
 	width: 30px;
 	height: 30px;
 	margin: 0 5px;
	 border-radius: 20px;
	 background-color: #999;
 }
 .social-icon:hover{
	background:#599a68;

 }


 /**************************
      PAGE:PORFOLIO
**************************/

#gallery{
	margin: 0px;
	padding:0px;
	list-style: none;
}

#gallery li{
/*	float: left;*/
/*	width:45%;*/
	margin-bottom: 23px;
	background-color: #f5f5f5;
/*	color: #bdc3c7;*/

}


#gallery{
	margin: 0;
	padding: 5%;
	font-size: 0.7em;
	color:#bdc3c7;
}

/**************************
      PAGE:ABOUT
**************************/


/**************************
      PAGE:CONTACT
**************************/


.contact-info{
	list-style: none;
	padding:0;
	margin: 0;
	font-size: 0.9em;
}
.contact-info a {
	display: block;
	min-height: 20px;

	margin: 0 0 10px;

}
/*
.contact-info li.phone a{
	background-image: url('../images/phone.png');

}
.contact-info li.mail a{
	background-image: url('../images/mail.png');

}
.contact-info li.twitter a{
	background-image: url('../images/twitter.png');

}
*/

/**************************
         COLORS
**************************/

body{
	background-color: #333;
	color:#999;
}



/*green header*/
header{
	background: #6ab47b;
	border-color: #599a68;
}

/*logo text*/
h1, h2{
	color: #fff;
}

/*link*/
a{
	color:#599a68;

}

img{
	max-width: 100%;
}


/*nav background on mobile */
nav {
	color: #599a68;
	background:#599a68 ;
	padding:10px 0px;


}
/*selected nav link*/
nav a, nav a:visited {
	color: #fff;
}
/*site body*/
nav a.selected, nav a:hover{
	color:#32673f;
}
nav a.selected  nav a:hover {
	color: #32673f;
}
  .clear{
	  clear: both;
  }

  

/*skills*/


main .skills_holder h2{text-align: left;margin: 0 0 40px;}
.skills_holder{
	width: 100%;

}
.skills_holder .column {

    width: 380px;
     float: left;

    padding: 10px;
}

.progress{
	overflow: hidden;
	width: 100%;
	margin: 20px 0 3px 0;
    margin-left: -45px;
}
.progress li{
	overflow: hidden;
	height: 43px;
	line-height: 43px;
	background: #46484c;
	border-radius: 5px;
/*	behavior: url(css/PIE.htc)*/
	margin: 0 0 27px;
}
.progress li span{
/* #fff	background: #50af6f;*/
	color:#fff;
	text-transform:uppercase;
	display: block;
	font-family: 'novecentosanswide';
	font-weight: normal;
	font-size: 18px;
/*    text-align: center;*/
	padding: 0 0 0 20px;
}
/*
.progress li span.html{width: 80%;}
.progress li span.css{width: 75%;}
.progress li span.wordpress{width: 85%;}
.progress li span.bootstrap{width: 75%;}
.progress li span.javascript{width: 45%;}
.progress li span.sass{width: 60%;}
*/



.wrapper-holder {
    width: 1042px;
    margin: 0 auto;
}

.progress-details {
    float: right;

}
.progress-details a {

       color:  #50AF70;
}

.progress-details a:hover {

   color: #32673f;

}
.column h2 {
    text-align: center;
}



.icon-small {
    padding-right: 10px;
}
.icon-Big {
    font-size: 25px;
    padding-right: 10px;
}

.slideup {
   animation-name: moveInBottom;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}

.slidedown {
   animation-name: moveInTop;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}
#primary {
      animation-name: moveInLeft;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}

.primary {
      animation-name: moveInLeft;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}


#secondary{
      animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}

.slide-right{
      animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-in-out;
}
.myim {
         animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-in-out;
    text-align: left;
    padding-top: 82px;
}

.slideleft h2 {
    color:#999;
    font-weight: 800;
    
}

.progress-details h2 {
    color: #999;
    font-weight: 800;
}
.align-center {
    text-align: center;
}
@keyframes moveInLeft {
  0%{
      opacity: 0;
      transform: translateX(-100px);

  }


  80%{
      transform: translateX(10px);

  }


  100%{
     opacity: 1;
      transform: translate(0);


  }

}




@keyframes moveInRight {
  0%{
      opacity: 0;
      transform: translateX(100px);

  }


  80%{
      transform: translateX(-10px);

  }


  100%{
     opacity: 1;
      transform: translate(0);


  }

}



@keyframes moveInBottom {
  0%{
      opacity: 0;
      transform: translateY(100px);

  }




  100%{
     opacity: 1;
      transform: translate(0);


  }

}



@keyframes moveInTop {
  100%{
      opacity: 0;
      transform: translateY(100px);

  }




  0%{
     opacity: 1;
      transform: translate(0);


  }

}



